section{
  background-color: #e5e5e5;
  height:auto;
  // background-size: cover;
  padding-left:15%;
  padding-right:15%;
  padding-top:5%;
  padding-bottom:5%;
}

.h1-responsive{
  font-family: montserrat-medium,sans-serif;
  font-size: 3rem;
  line-height: 1.333;
  color: #131313;
  font-weight: bolder;
}
.h1-responsive2{
  font-family: montserrat-medium,sans-serif;
  font-size: 2rem;
  line-height: 1.333;
  color: #2bbbad;
  font-weight: bolder;
}
h5{
  color:#131313;
}

.right{
  text-align: right;
  margin-top:13%;
}
