section{
  background-image: url('https://enlyter.com/static/images/blur.jpg');
  height:500px;
  background-size: cover;
  padding-left:15%;
  padding-right:15%;
}

.h1-responsive{
  font-family: montserrat-medium,sans-serif;
  font-size: 3rem;
  line-height: 1.333;
  color: #fff;
  font-weight: bolder;
}

.right{
  text-align: right;
  margin-top:13%;
}
