
<section class="section" mdbWavesEffect>
  <div class="row">
    <div class="col-md-6">
      <h1 class="h1-responsive text-left">Enlyter is a non-profit that provides people with a summary on how companies use their private information.</h1>
    </div>
    <div class="col-md-6 right">
      <button class="col-6" mdbBtn type="button" color="default" mdbWavesEffect>Test Our Service</button>
      <button class="col-6" mdbBtn type="button" color="default" mdbWavesEffect>Download our free Chrome Extension
      </button>
    </div>
  </div>
</section>
