section{
  // background-image: url('https://enlyter.com/static/images/hero-bg.jpg');
  background-color: #111;
  height:auto;
  // background-size: cover;
  padding-left:15%;
  padding-right:15%;
  padding-top:5%;
  padding-bottom:5%;
}

.h1-responsive{
  font-family: montserrat-medium,sans-serif;
  font-size: 3rem;
  line-height: 1.333;
  color: #e5e5e5;
  font-weight: bolder;
}
.h1-responsive2{
  font-family: montserrat-medium,sans-serif;
  font-size: 2rem;
  line-height: 1.333;
  color: #2bbbad;
  font-weight: bolder;
}
p{
  color:#2bbbad;
}
.h1-responsive-or{
  font-family: montserrat-medium,sans-serif;
  font-size: 2.5rem;
  line-height: 1.333;
  color: gray;
  font-weight: bolder;
  margin-top:100px !important;
}

.right{
  text-align: right;
  margin-top:13%;
}
