
<section class="section" mdbWavesEffect>
  <h1 class="h1-responsive">Want to see whose doing what with your information?</h1>
  <div class="row">
    <div class="col-md-5">
      <h1 class="h1-responsive2">Enter a website URL and click on analyze</h1>
      <p>Ex: www.google.com</p>
      <div class="md-form" style="margin-top:80px;" >
        <input mdbInputDirective type="text" id="form1" class="form-control" />
        <label for="form1" class="">Website URL</label>
      </div>
      <button mdbBtn type="button" color="default" mdbWavesEffect>Analyze</button>
    </div>

    <div class="col-md-2">
      <h1 class="h1-responsive-or">OR</h1>
    </div>
    <div class="col-md-5">
      <h1 class="h1-responsive2">Enter your privacy policy here</h1>
      <div class="md-form">
        <textarea class="md-textarea form-control " rows="3" id="input_text" type="text" length="2000" mdbCharCounter mdbInputDirective></textarea>
        <label for="input_text">Privacy Policy</label>
      </div>
    </div>
  </div>
</section>
